.iconSoc {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  color: var(--icon);
}

.iconVk {
  composes: iconSoc;
}

.iconOdnoklassniki {
  composes: iconSoc;
}

.iconTelegram {
  composes: iconSoc;
}

.iconYouTube {
  composes: iconSoc;
}
