.spaceKey {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.keyContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.keyLabel {
  font: var(--Desktop Text Styles/M2-16);
  color: var(--Label/Light/primary);
  text-align: center;
  z-index: 1;
}

.keyBackground {
  position: absolute;
  inset: 0;
  background: var(--Main/White);
  border: 1px solid var(--Border/lightGray);
  border-radius: 5px;
  box-shadow: 0 1px 0 0 var(--Border/lightGray);
}
