.skeleton {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.skeletonText {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.skeletonComponent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.skeletonLine {
  height: 16px;
  background-color: var(--Background/Light/Secondary);
  border-radius: 4px;
  animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
