.telegram {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--Background/Light/Primary);
  border: 1px solid var(--Border/lightGray);
  border-radius: 8px;
  box-shadow: var(--Shadows/Low);
  padding: 16px;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: #0088cc;
  border-radius: 50%;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
